@media (max-width: 480px){
    .container{
        width: 100%;
        padding: 1rem;
        max-width: 100vw;
        overflow-x: hidden;
        line-height: 1.5;
        font-size: 1.05rem;
    }
}